<div class="prayer-times-container">
    <div class="background"></div> <!-- Background layer -->
    <!-- #3e3527;
     -->
    <div class="image-container">
        <!-- <div class="image-dome">
            <img [src]="imageUrl" alt="Kaaba">
        </div> -->
        <div class="islamic-shape">
            <img [src]="imageUrl" alt="Islamic Shape" />
        </div>
    </div>

    <div class="right-section">
        <div class="clock-section">
            <div class="time-display">
                <h1>{{ currentTime | date: 'hh:mm a' }}</h1>
                <p>Next Iqama in {{ nextPrayerCountdown }} min</p>
            </div>
        </div>

        <div class="prayer-times-list">
            <div *ngFor="let prayer of prayerTimes" class="prayer-time">
                <h4>{{ prayer.name }}</h4>
                <p>{{ prayer.time }}</p>
            </div>
        </div>

        <div class="features-list">
            <div class="features">
                <button class="features-button" (click)="openQuran()">Quran</button>
            </div>

            <div class="features">
                <button class="features-button" (click)="openSettings()">Settings</button>
            </div>
        </div>

        <div class="date-display">
            <p>{{ currentDate | date: 'dd MMMM yyyy' }}</p>
        </div>
    </div>
</div>